<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      ChatApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >

  <ion-list>
    <ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://picsum.photos/200">
        </ion-avatar>
          <ion-label>
            <h2> <b>chat de grupo</b></h2>
            <h3>Esto es un chat grupal</h3>
            <p>Accede dando click y escribe un mensaje</p>
          </ion-label>
    </ion-item>
    </ion-item>
    
  </ion-list>
  <ion-button (click)="Onlogout()">Salir</ion-button>
</ion-content>
